.header-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 12px;
  height: 100%;

  .header-messages__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    transition: background 0.3s;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .ant-badge-count {
    box-shadow: 0 0 0 1px #fff;
  }
}
