@import "../../styles/variables.less";

.header-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  padding: 0 16px;
  position: relative;
  transition: all 0.25s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 3px;
    background: transparent;
    border-radius: 3px 3px 0 0;
    transition: background 0.25s ease;
  }

  &:hover {
    &::after {
      background: @primary-color;
    }
  }

  .header-notifications__icon {
    font-size: 20px;
    color: @primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-badge-count {
    box-shadow: 0 0 0 1px #fff;
  }
}
