
.header__user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__avatar {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
