
@import "../../../../../../styles/variables.less";

.messages__chat__history__message {
  margin: 0 0 5px 0;
  padding: 5px;
  > div > div > blockquote {
    margin: 10px 0;
  }

  &__user {
    background-color: @secondary-color;
  }
}
