@import "../../styles/variables.less";

.header-base {
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 0 calc((100vw - @desktop-width)/2);
  z-index: 100;
  box-shadow: 10px 0 10px rgb(0 0 0 / 20%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: @desktop-width) {
    padding: 0 40px;
  }

  > *:not(.logo-container) {
    float: right;
  }

  &.auth {
    width: calc(100% - 200px);
    padding: 0 40px 0 20px;
    right: 0;
    transition: all 0.2s;
    display: inline-block !important;

    @media screen and (max-width: @mobile-width) {
      width: 100vw;
      padding: 0 20px 0 60px;
    }

    &.collapsed {
      width: 100%;

      @media screen and (min-width: @mobile-width) {
        width: calc(100% - 80px);
      }
    }
  }

  .header-base__right {
    display: flex;
    align-items: stretch;
    float: right;
    height: 100%;
    gap: 8px;
    padding-right: 12px;
  }

  &__profile-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    line-height: normal;
    height: 100%;
    padding: 0 16px;
    position: relative;
    transition: all 0.25s ease;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
      height: 3px;
      background: transparent;
      border-radius: 3px 3px 0 0;
      transition: background 0.25s ease;
    }

    &:hover {
      &::after {
        background: @primary-color;
      }
    }
  }

  .logo-container {
    max-width: 200px;
    height: 90%;
    display: flex;

    @media screen and (max-width: @mobile-width) {
      max-width: 50%;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: -5px;
    }
  }
}