/**

HERE YOUR CUSTOM CSS

**/

.navbar, .navbar-inverse {
    background-color: #e8e8e8 !important;
}

.dev .navbar, .dev .navbar-inverse {
    background-color: #333333 !important;
}

.dropdown button {
  color: #000;
}
